# Python
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

# Entornos virtuales
.venv/
venv/

# Herramientas
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

# uv
# (uv.lock SÍ se versiona)

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Proyecto
*.log
thumbnails_cache/
